apiVersion: v1
kind: Service
metadata:
  name: {{ include "tail-sampling-selector.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "tail-sampling-selector.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
    - name: metrics
      port: {{ .Values.service.metricsPort | default 9090 }}
      targetPort: metrics
      protocol: TCP
  selector:
    {{- include "tail-sampling-selector.selectorLabels" . | nindent 4 }}
